<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
        <title>Web 3.0 demo</title>
        <script defer src="/js/showEthAddress.js"></script>
    </head>
    <%- include("./partials/header") %>
    <body class="">
        <div width="500px">
            <div
                class="alert alert-success invisible"
                role="alert"
                id="userAddress"
            ></div>
        </div>
    </body>
</html>
