<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head") %>
        <title>Web 3.0 demo</title>
        <script defer src="/js/loginMetaMask.js"></script>
    </head>
    <%- include("./partials/header") %>
    <body class="">
        <div class="d-flex justify-content-center">
            <div class="card mt-5 p-2" style="width: 500px">
                <h2 class="align-self-center">Log in</h2>
                <div class="align-self-center">
                    <button onclick="loginWithEth()" class="btn btn-secondary">
                        Log in with MetaMask
                    </button>
                </div>
            </div>
        </div>
        <div width="500px">
            <div
                class="alert alert-success invisible"
                role="alert"
                id="userAddress"
            ></div>
        </div>
    </body>
</html>
